.vv-custom--body {
  height: calc(100vh - 210px);
  display: flex;
  padding-top: 50px;
  position: relative;
}

.vv-custom--header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 50px;
  display: flex;
  align-items: center
}

.vv-custom--header .vv-custom--info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center
}

.vv-custom--nav,
.vv-custom--info {
  flex: none;
  width: 250px;
  height: 100%;
  overflow-y: auto;
}

.vv-custom--nav {
  border-right: 1px solid #e3e8ee;
}

.vv-custom--nav-item,
.vv-custom--role-item {
  padding: 15px 20px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.3s linear;

}

.vv-custom--nav-item {
  padding: 20px;
}

.vv-custom--nav-item:not(:last-child),
.vv-custom--role-item:not(:last-child) {
  border-bottom: 1px solid #fafafa
}

.vv-custom--nav-item.is-active {
  background-color: #f1f1f1;
  border-left: 2px solid #6560ff;
}

.vv-custom--nav-item.is-active p {
  color: #6560ff;
}

.vv-custom--role {
  border-bottom: 1px solid #e3e8ee
}

.vv-custom--info-item {
  padding:  10px;
  width: 100%;
}

.vv-custom--role-item.is-active {
  border-left: 2px solid #6560ff;
  background-color: #f5f5f5;
}

.vv-custom--role-item.is-active p {
  color: #6560ff;
}

.vv-custom--chat {
  flex: 1;
  padding-bottom: 60px;
  position: relative;
}

.chat {
  height: 100%;
  width: 100%;
  background: #f0f0f0;
  overflow-y: scroll;
}

.chat-body {
  padding: 10px;
}

.chat-item {
  display: flex;
  margin-bottom: 10px;
}

.chat-head {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 60px;
  height: 60px;
  padding: 5px;
  background: #fff;
  border-radius: 100%;
  overflow: hidden;
}

.chat-head-inner {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-item.is-left .chat-head-inner {
  background: #ed4014;
}

.chat-item.is-right .chat-head-inner {
  background: #f0a70a;
}

.chat-content {
  background: #fff;
  border-radius: 4px;
  padding: 8px 15px;
  position: relative;
}

.chat-item.is-left {
  justify-content: flex-start;
}

.chat-item.is-right {
  justify-content: flex-end;
}

.chat-item.is-left .chat-content {
  margin-left: 20px;
  margin-right: 80px;
}

.chat-item.is-right .chat-content {
  margin-left: 80px;
  margin-right: 20px;
}

.chat-time {
  margin-top: 5px;
  margin-left: 20px;
  color: #ddd;
  font-size: 12px;
}

.chat-name {
  font-size: 12px;
  color: #fff;
}

.chat-name-detail {
  margin-bottom: 5px;
  margin-left: 20px;
  color: #ddd;
  font-size: 12px;
}

.chat-item.is-right .chat-name-detail {
  margin-right: 20px;
  text-align: right;
}

.chat-item.is-right .chat-time {
  margin-right: 20px;
  text-align: right;
}

.chat-point {
  position: absolute;
  top: 12px;
  width: 0;
  height: 0;
}

.chat-item.is-left .chat-point {
  left: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: #fff #fff transparent transparent;
  /*透明 灰 透明 透明 */
}

.chat-item.is-right .chat-point {
  right: -12px;
  border-width: 6px;
  border-style: solid;
  border-color: #fff transparent transparent #fff;
  /*透明 灰 透明 透明 */
}

.chat-more {
  text-align: center;
  padding: 10px 0;
}

.chat-more>span {
  color: #6560ff;
  cursor: pointer;
}

.chat-send {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.chat-send__input {
  flex: 1;
  padding: 0 10px;
}

.upload {
  display: inline-block;
}

.upload>input[type="file"] {
  display: none;
}
